<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask-Dropzone Demo: Click Upload</title>
    {{ dropzone.load_css() }} {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
</head>

<body>
    {{ dropzone.create(action='upload') }}
    <button id="upload">Upload</button> {{ dropzone.load_js() }} {{ dropzone.config() }}

    <br>
    <h3>Response is: </h3>
    <!-- {{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }}
    <br> {{response}} <br> {{content}} -->
    <script type="text/javascript">
        Dropzone.autoDiscover = false;



        var myDropzone = new Dropzone(".dropzone", {

            maxFilesize: 10,

            acceptedFiles: ".jpeg,.jpg,.png,.gif",

            success: function(file, response) {
                console.log("result 1:", response);
                if (response != 0) {

                    const responseResult = JSON.stringify(response);
                    const name = responseResult[1];
                    const result = responseResult[2];
                    var anchorEl = document.createElement('a');

                    anchorEl.setAttribute('href', responseResult[1]);

                    anchorEl.setAttribute('target', '_blank');

                    anchorEl.innerHTML = "<br>Test";

                    file.previewTemplate.appendChild(anchorEl);
                    console.log("result 2", responseResult[1]);
                    console.log("result 3", responseResult[2]);
                    console.log("result 4", responseResult);
                }

            }

        });
    </script>


</body>

</html>