<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask-Dropzone Demo: Click Upload</title>
    {{ dropzone.load_css() }} {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
</head>

<body>
    {{ dropzone.create(action='upload') }}
    <button id="upload">Upload</button> {{ dropzone.load_js() }} {{ dropzone.config() }}

    <br>
    <h3>Response is: </h3>
    {{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }}
    <br> {{response}} <br> {{content}}
</body>

</html>